*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: $very-dark-grey;
}

#root {
  height: 100vh;
  row-gap: 3.2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 2.4rem minmax(min-content, 54rem) 2.4rem;
}