*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {

  @media screen and (min-width: $desktop-medium) {
    font-size: 55%;
  }

  font-size: 50%;

  @media screen and (max-width: $desktop-small) {
    font-size: 46%;
  }

  @media screen and (max-width: $phone-wide) {
    font-size: 40%;
  }

  @media screen and (max-width: $phone) {
    font-size: 36%;
  }

}

body {
  min-height: 100vh;
  background-color: $very-dark-grey;
  overflow: auto;
}

#root {
  min-height: 100vh;
  row-gap: 3.2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 2.4rem minmax(min-content, 54rem) 2.4rem;
}