@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  color: $color-white;
}

.heading {

  &__high {
    font-size: $font-large;

    &-grey {
      color: $color-grey;
    }
  }

  &__low {
    font-size: $font-medium;

    &-grey {
      color: $color-grey;
    }
  }
}

.body {
  font-size: $font-small;
}