@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700;
  color: $color-white;
}

.heading {
  &__large {
    font-size: $font-large;

    &-grey {
      color: $color-grey;
    }
  }

  &__small {
    font-size: $font-medium;

    &-grey {
      color: $color-grey;
    }
  }
}

.body {
  &__text {
    font-size: $font-small;

    &-grey {
      font-size: $font-small;
      color: $color-grey;
    }
  }
}

.text {
  &__password {
    max-width: 33rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__copied {
    text-transform: uppercase;
    color: $neon-green;
    font-weight: 700;
    font-size: $font-small;
  }
}
