// Colors
$color-grey: #817d92;
$dark-grey: #24232c;
$very-dark-grey: #18171f;

$color-white: #e6e5ea;
$color-red: #f64a4a;
$color-orange: #fb7c58;
$color-yellow: #f8cd65;
$neon-green: #a4ffaf;


// Font sizes
$font-small: 1.8rem;
$font-medium: 2.4rem;
$font-large: 3.2rem;

// Break points
$desktop-large: 90em;
$desktop-medium: 80em;
$desktop-small: 75em;
$mini-laptop: 50em;
$tablet: 37.5em;
$phone-wide: 28em;
$phone: 20em;

$break-height: 45em;
