.slider {
  width: 100%;
  -webkit-appearance: none;
  background-color: $very-dark-grey;
  background-image: linear-gradient($neon-green, $neon-green);
  height: 10px;
  background-size: 0;
  background-repeat: no-repeat;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    height: 2.8rem;
    width: 2.8rem;
    background: $neon-green;
    cursor: pointer;
    transform: translateX(5%);

    &:hover {
      background: $very-dark-grey;
      border: 0.2rem solid $neon-green;
    }

    &:not(:active) {
      background: $color-white;
      border: 0.2rem solid $color-white;
    }
  }
}
